<nav class="flex mt-6 items-center">
  <h1 class="text-gray-300 text-3xl lg:text-4xl font-jaldi font-bold flex-grow">dillon o'connor</h1>
  <%= mail_to "oconnor.dillon8@gmail.com",
              class: "nav-btn transition duration-200" do %>
    <%= content_tag(:i, "", class: "fas fa-envelope-square lg:ml-2 text-3xl lg:text-4xl text-white") %>
  <% end %>
  <%= link_to "https://github.com/dillonoconnor",
              class: "nav-btn transition duration-200" do %>
    <%= content_tag(:i, "", class: "fab fa-github-square lg:ml-2 text-3xl lg:text-4xl text-white") %>
  <% end %>
  <%= link_to "https://www.linkedin.com/in/dillonoconnor/",
              class: "nav-btn transition duration-200" do %>
    <%= content_tag(:i, "", class: "fab fa-linkedin lg:ml-2 text-3xl lg:text-4xl text-white") %>
  <% end %>
</nav>